.form__button {
 margin: 48px 36px 37px;
 padding: 14px 102px 19px;
 background-color: black;
 color: #fff;
 border-radius: 2px;
 font-weight: 400;
 font-size: 18px;
 line-height: 22px;
 cursor: pointer;
 transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 320px) {
 .form__button {
  margin: 46px 22px 25px;
  padding: 14px 100px 14px;
  font-size: 14px;
  line-height: 17px;
 }
}
