.profile__info {
  width: 427px;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
}
@media screen and (max-width: 436px) {
  .profile__info {
    width: 280px;
    justify-content: space-between;
  }
}
