.zoom__content {
    padding: 10px;
    max-width: 400px;
    height: 800px;
    text-align: center;
  }
@media screen and (max-width: 768px) {
    .zoom__content {
        padding: 10px;
        max-width: 400px;
        height: auto;
        text-align: center;
      }
}

@media screen and (max-width: 320px) {

}