.profile {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
