.form-confirm-container {
 position: fixed;
 display: none;
 transform: translateY(50%);
 width: 430px;
 height: 181px;
 box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
 border-radius: 10px;
}

.form-confirm-container.block {
 display: block;
}
