.form-confirm-container__icon {
 position: absolute;
 top: -18%;
 right: -7%;
 background: url('../../../images/icon/CloseIcon.png') no-repeat;
 background-size: cover;
 width: 30px;
 height: 30px;
}

@media screen and (max-width: 320px) {
 .form-confirm-container__icon {
  position: absolute;
  background-size: cover;
  top: -8%;
  right: -10%;
  width: 25px;
  height: 25px;
 }
}
