.profile__avatar {
 display: flex;
 align-items: center;
 gap: 30px;
}

@media screen and (max-width: 900px) {
 .profile__avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
  margin-bottom: 36px;
 }
}
