.card__icon {
 margin-right: 21px;
 margin-left: 10px;
 background: url('../../.././images/icon/heart.svg') no-repeat;
 width: 30px;
 height: 20px;
}

.toggle {
 margin-right: 21px;
 margin-left: 10px;
 background: url('../../.././images/icon/heartBlack.svg') no-repeat;
 width: 30px;
 height: 20px;
}
