.profile__button-avatar {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 26px;
 height: 26px;
 transform: translate(-50%, -50%);
 background: url(../../../images/button/pencil.svg) no-repeat;
 cursor: pointer;
 display: none;
}
